.navbar-menu {
  background-color: #3c8d2f;
  padding: 10px;
}

.navbar-item {
  background-color: #3c8d2f;
  border: 10px solid #3c8d2f;
  color: white;
  text-decoration: none;
}

.navbar-item:hover {
  background-color: #96d38d;
  border: 10px solid #96d38d;
}

.navbar-item:focus,
a.is-active {
  background-color: #64b058;
  border: 10px solid #64b058;
}
