.algo {
  margin: 20px 0 0 0;
  font-size: 15px;
}

.algo .description {
}

.algo .example {
}

.algo .code {
}

.algo .language {
}

.algo .border {
  border: 1px solid black;
}

.algo .table-fixed {
  table-layout: auto;
  border-collapse: separate;
  border-spacing: 0px 0px;
  border: solid 1px black;
}
